/* main css*/

:root {
    --mainBlue: #40ACF1;
    --transparentBlue: rgba(64, 172, 241, 0.7);
    --mainWhite: #FFFF;
    --mainBlack: #292F36;
    --mainGrey: rgb(216, 214, 214);
    --mainYellow: #e3b505;
}

body {
    color: #292F36;
    background: #FFFFFF;
    font-family: 'Roboto';
}


/* section title */

.section-title--special {
    background: rgba(64, 172, 241, 0.7);
    color: #FFFFFF;
    padding: 0.5rem 2rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}


/* preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    z-index: 999;
}

.hidepreloader {
    display: none !important;
}

.navbar {
    background-color: #FFFFFF;
}

.navbar-icon {
    font-size: 2rem;
    color: #40ACF1;
}

.navbar-toggler {
    outline-color: #40ACF1 !important;
}

.nav-link {
    color: #292F36;
    text-transform: capitalize;
}

.nav-link:hover {
    color: #40ACF1;
}

.nav-icon {
    font-size: 1.5rem;
    color: #40ACF1;
    text-decoration: none !important;
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.nav-icon:hover {
    color: #292F36;
}


/* header style */

.header {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    color: #FFFFFF;
}

.height-max {
    min-height: calc(100vh - 76px);
    background: url('../images/headerBcg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation-name: zoom;
    animation-duration: 20s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2) translate(-5%);
    }
    100% {
        transform: scale(1);
    }
}

.title-heading {
    background: rgba(0, 0, 0, 0.4);
    border-left: 0.3rem solid #40ACF1;
}

.title {
    font-weight: 700;
    font-size: 1.9rem;
}

@media screen and (min-width:768px) {
    .title {
        font-size: 3rem;
    }
}

.title-icon {
    color: #40ACF1;
    text-decoration: none !important;
}

.title-icon:hover {
    color: #40ACF1;
    opacity: 0.6;
}


/* skills */

.skills-icon {
    font-size: 3rem;
    color: #e3b505;
    background: rgb(216, 214, 214);
}

.skills-icon:hover {
    color: #e3b505;
}

.skills-underline {
    width: 4rem;
    height: 0.3rem;
    background: #40ACF1;
    margin: 1rem auto;
}


/* inventory */

.inventory {
    background: rgb(216, 214, 214);
}

.car-card {
    border-radius: 0 !important;
}

.car-img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.car-value {
    background: #40ACF1;
    color: #FFFFFF;
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    transition: all 1s linear;
}

.car-value:hover {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}


/* question */

.question {
    background: url('../images/questionBcg.jpeg')center/cover fixed no-repeat;
}

.question-grey {
    background: rgba(79, 109, 122, 0.75);
}

.question-yellow {
    background: rgba(227, 181, 5, 0.75);
}

.question-icon {
    font-size: 4rem;
    color: #40ACF1;
    transition: all 0.5s ease-in-out;
}

.question-icon:hover {
    transform: translateY(-10%);
    color: #40ACF1;
}

.question-info {
    color: #FFFFFF;
}


/* featured style */

.featured {
    background: rgb(216, 214, 214);
}

.featured-item {
    background: #FFFFFF;
    border-radius: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.featured-item:hover {
    opacity: 1;
    transform: scale(1.05);
}

.featured-icon {
    font-size: 1.5rem;
    color: #e3b505;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.featured-icon:hover {
    color: #40ACF1;
}

.img-container {
    background: #40ACF1;
    position: relative;
    overflow: hidden;
    /* overflow hidden*/
}

.featured-photo {
    transition: all 1s ease-in-out;
}

.img-container:hover .featured-photo {
    transform: scale(1.3);
    opacity: 0.5;
}

.featured-link {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    color: #292F36;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.featured-link:hover {
    color: #FFFFFF;
}

.img-container:hover .featured-link {
    opacity: 1;
}


/* gallery style*/

.gallery-item {
    background: #e3b505;
    position: relative;
    cursor: pointer;
}

.gallery-img {
    transition: all 1s ease-in-out;
}

.gallery-item:hover .gallery-img {
    opacity: 0.5;
}

.gallery-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid #FFFFFF;
    outline-offset: -2rem;
    transition: all 1s ease-in-out;
    transform: scale(0);
}

.gallery-item:hover::after {
    transform: scale(1);
}


/* contact */

.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('../images/headerBcg.jpeg')center/cover fixed no-repeat;
}

.contact-input {
    font-size: 1.5rem;
    text-transform: capitalize;
    background: transparent;
    border-color: #e3b505;
    color: #e3b505 !important;
}

.contact-input::placeholder {
    color: #e3b505;
}

.contact-input:focus {
    background: transparent;
    border-color: #e3b505;
}

.contact-btn {
    text-transform: uppercase;
    color: #e3b505;
    border-color: #e3b505;
}

.contact-btn:hover {
    background: #e3b505;
    color: #292F36;
}


/* services section */

.services {
    position: relative;
    min-height: 85vh;
    max-width: 95vw;
    margin: 0 auto;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

.video-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 172, 241, 0.7);
    z-index: -2;
}

.service {
    background: #292F36;
    color: #FFFFFF;
    transition: all 1s ease-in-out;
}

.service:hover {
    background: #FFFFFF;
    color: #292F36;
    padding: 2.2rem !important;
}

.service-icon {
    font-size: 4rem;
    color: #e3b505;
}


/* quote section style*/

.customer-card-body {
    margin-top: -4rem !important;
    color: rgb(216, 214, 214);
}

.customer-img {
    border: 0.4rem solid #FFFFFF;
}

.customer-name {
    color: #40ACF1;
    margin: 05rem;
}

.customer-icon {
    font-size: 2rem;
    color: rgb(216, 214, 214);
}

.customer-quote {
    max-width: 90%;
    color: rgb(216, 214, 214);
}

.customer-job {
    color: rgb(216, 214, 214);
}


/* footer */

.footer {
    background: #292F36;
}

.footer-icon {
    font-size: 1.5rem;
    text-decoration: none;
    color: #e3b505;
    transition: all 1s ease-in-out;
}

.footer-icon:hover {
    color: #40ACF1;
}